.el-overlay-message-box{
  z-index: 10!important;
}
html{
  background-color: var(--el-bg-color);
}
body{
  margin: 0;
}
.dbo-menu-popper .el-menu--popup{
  min-width: 50px;
}
.dbo-menu-popper.el-menu--horizontal .el-menu--popup .el-menu-item.is-active{
  color: initial;
}
.dbo-menu-popper.el-menu--horizontal .el-menu--popup .el-sub-menu.is-active .el-sub-menu__title{
  color: initial;
}
.splitpanes--vertical>.splitpanes__splitter {
  width: 2px;
  background-color: var(--el-menu-border-color);
}